$aside-width: 250px;

.dashboard {
  &__aside {
    @apply .bg-white;
    @apply .fixed;
    @apply .border-r;
    @apply .p-6;
    @apply .pt-4;
    @apply .pin-y;
    left: -$aside-width;
    transition: left .3s ease-in-out;
    width: $aside-width;
    @apply .z-10;

    @include respond-to('md') {
      @apply .pin-l;
    }
  }

  &__close-aside,
  &__open-aside {
    @apply .absolute;
    @apply .cursor-pointer;
    @apply .h-8;
    @apply .fill-current;
    @apply .w-8;
  }

  &__close-aside {
    @apply .mr-2;
    @apply .pin-r;
    top: 18px;
  }

  &__open-aside {
    @apply .ml-6;
    @apply .mt-4;
    @apply .pin-l;
    @apply .pin-t;
  }

  &__feeds {
    @apply .list-reset;

    li {
      @apply .mb-4;
    }
  }

  &__content {
    padding-left: 0;
    transition: padding-left .3s ease-in-out;

    @include respond-to('md') {
      padding-left: 250px;
    }
  }

  &--aside-toggle {
    .dashboard__aside {
      @apply .pin-l;

      @include respond-to('md') {
        left: -$aside-width;
      }
    }

    .dashboard__content {
      padding-left: 0;
    }
  }
}