.tag {
  @apply .bg-black;
  @apply .inline-block;
  @apply .text-white;
  @apply .pl-3;
  @apply .pr-8;
  @apply .py-2;
  @apply .mr-2;
  @apply .relative;

  &__icon {
    @apply .absolute;
    @apply .cursor-pointer;
    @apply .fill-current;
    @apply .mr-1;
    @apply .mt-1;
    @apply .h-6;
    @apply .w-6;
    @apply .pin-r;
    @apply .pin-t;
  }

  &--editable {
    @apply .p-0;

    span {
      @apply .block;
      @apply .pl-3;
      @apply .pr-8;
      @apply .py-2;
    }
  }
}

hr {
  @apply .my-12;
  @apply .border-b;
}

.columns {
  column-count: 1;

  @include respond-to('md') {
    column-count: 2;
    column-gap: 50px;
  }
}

.spaced-list {
  li {
    @apply .mb-6;
  }
}

.spin {
  animation: spin 2s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
