input:not([type="checkbox"]) {
    @apply .appearance-none;
    @apply .block;
    @apply .border;
    @apply .font-thin;
    @apply .font-sans;
    @apply .rounded-none;
    @apply .text-sm;
    @apply .outline-none;
    @apply .p-4;
    @apply .w-full;
    transition: background-color .2s ease;

    &:focus {
        @apply .bg-grey-light;
    }

    &.with-icon {
        @apply .pr-12;
    }
}

.button {
    @apply .appearance-none;
    @apply .border;
    @apply .border-grey-light;
    @apply .font-serif;
    @apply .inline-block;
    @apply .outline-none;
    @apply .p-4;
    transition: color .2s ease, background-color .2s ease;

    &:hover {
        @apply .bg-grey-light;
        @apply .no-underline;
    }

    &:focus,
    &:active {
        @apply .outline-none;
        transform: scale(1.05);
    }

    &--primary {
        @apply .bg-black;
        @apply .border-black;
        @apply .text-white;

        &:hover {
            @apply .bg-transparent;
            @apply .text-black;
        }
    }
}

.input-group {
    @apply .mb-8;

    label {
        @apply .block;
        @apply .mb-3;
    }

    input[type="checkbox"] + label {
        @apply .mb-0;
    }

    .with-icon + .tag__icon {
        margin-top: .83rem;
    }
}

.search-field {
    @apply .relative;

    &__results {
        @apply .absolute;
        @apply .bg-white;
        @apply .border;
        @apply .border-t-0;
        @apply .font-thin;
        @apply .font-sans;
        @apply .invisible;
        @apply .text-sm;
        @apply .px-2;
        @apply .outline-none;
        @apply .overflow-y-scroll;
        @apply .w-full;
        @apply .z-10;
        max-height: 255px;
        top: 50px;
        transition: visibility .1s;

        li {
            @apply .px-2;
            @apply .py-4;

            &:not(:first-child) {
                @apply .border-t;
            }

            &:hover {
                @apply .cursor-pointer;
                @apply .font-bold;
            }
        }
    }
}

.search-field__input:focus + .search-field__results {
    @apply .visible;
}

.input-group {
    @apply .relative;

    &__icon {
        @apply .absolute;
        @apply .cursor-pointer;
        @apply .fill-current;
        @apply .mr-2;
        @apply .h-6;
        @apply .w-6;
        @apply .pin-r;
        top: 14px;
    }
}
