body {
  @apply .font-thin;
  @apply .font-sans;
  @apply .text-sm;
  @apply .text-black;
}

h1,
h2,
h3,
h4,
h5,
p {
  @apply .font-thin;
  @apply .mb-3;
}

h1,
h2 {
  @apply .mb-8;
  @apply .font-serif;
}

h1 {
  @apply .text-5xl;
  @apply .mb-8;

  mark {
    @apply .bg-black;
    @apply .text-white;
    @apply .uppercase;
    padding: 6px 15px 12px;
  }
}

h2 {
  @apply .text-3xl;
}

h3 {
  @apply .text-2xl;
}

a {
  @apply .text-black;
  @apply .no-underline;

  &:hover {
    @apply .underline;
  }
}

p {
  @apply .leading-loose;
}

mark,
.mark {
  @apply .bg-black;
  @apply .text-white;
  @apply .uppercase;
  padding: 6px 9px;

  &.grey {
    @apply .bg-grey-light;
    @apply .text-black;
  }
}

.feed-article:hover h2 {
  @apply .underline;
}