<template>
  <div>
    <form @submit.prevent class="clearfix">
      <div class="input-group">
        <label>Feed name</label>

        <p v-if="name.error" class="input-error italic mb-4">{{ name.error }}</p>

        <input v-model="name.input" type="text" placeholder="News Feed" class="mb-4"/>
      </div>

      <div class="input-group">
        <label>Source RSS URL</label>

        <p v-if="newSource.error" class="input-error italic mb-4">{{ newSource.error }}</p>

        <div class="mb-4 w-full md:flex">
          <div class="input-group flex-grow mb-0 relative">
            <input v-model="newSource.url" @keyup.enter="addSource" type="text" placeholder="https://news.com/rss"
                   class="with-icon"/>

            <svg v-show="validating" class="tag__icon spin mr-3" xmlns="http://www.w3.org/2000/svg"
                 viewBox="0 0 512 512">
              <path
                d="M492 257.1c-2.6-2.6-6-4-9.6-4-3.6 0-7 1.4-9.6 4l-13 13c4.3-61.8-19.5-122.5-65.3-165C356.9 70.2 307.7 51 256.1 51c-26.7 0-52.8 5.1-77.4 15.1-25.5 10.4-48.3 25.6-67.7 45.3-13.2 13.4-24.6 28.5-33.6 44.8-1.9 3.4-2.3 7.4-1.2 11.1 1.1 3.7 3.8 6.8 7.2 8.5 2 1 4.2 1.5 6.4 1.5 5.2 0 9.9-2.8 12.4-7.3 7.9-14.3 17.8-27.5 29.4-39.1 16.8-16.8 36.3-29.8 58.1-38.7 21.1-8.6 43.4-12.9 66.2-12.9 22.9 0 45.2 4.3 66.3 12.9 21.8 8.9 41.4 21.9 58.2 38.8 20.3 20.4 35.4 45.6 43.8 73 7 22.9 9.2 47.3 6.6 71.2l-18.9-18.5c-2.5-2.4-5.8-3.8-9.3-3.8-3.5 0-6.9 1.4-9.4 3.9-5.2 5.2-5.2 13.6 0 18.8l42.8 42.9c1.9 1.9 4.4 2.9 7 2.9 2.6 0 5.1-1 7-2.9l42.1-42.2c5.2-5.3 5.2-13.9-.1-19.2zM428.6 335.9c-2-1-4.2-1.5-6.4-1.5-5.2 0-9.9 2.8-12.4 7.3-7.9 14.3-17.8 27.5-29.4 39.1-16.8 16.8-36.3 29.9-58.2 38.7-21.1 8.6-43.4 12.9-66.3 12.9s-45.2-4.3-66.2-12.9c-21.8-8.9-41.4-21.9-58.2-38.7-37.6-37.8-56-90.9-50.3-143.9l18.4 18.5c2.4 2.4 5.6 3.7 9 3.7 3.4 0 6.6-1.3 9-3.7l1.3-1.3c4.9-4.9 4.9-13 0-17.9l-42.9-43c-1.9-1.9-4.4-2.9-7-2.9-2.6 0-5.1 1-7 2.9l-42 42.3c-5.3 5.3-5.3 13.9 0 19.2 2.6 2.6 6 4 9.6 4 3.6 0 7-1.4 9.6-4l13-13.1c-1.8 25.8 1.3 52 9 76.5 9.9 31.4 26.8 59.3 50.3 82.8 19.5 19.6 42.2 34.7 67.6 45.1 24.5 10 50.4 15 76.9 15 26.5 0 52.4-5.1 76.9-15 25.4-10.3 48.1-25.5 67.6-45.1 13.5-13.5 25-28.8 34.2-45.4 1.9-3.4 2.3-7.4 1.2-11.1-1.2-3.7-3.8-6.8-7.3-8.5z"/>
            </svg>
          </div>

          <button type="button" @click="addSource" class="button md:ml-2">Add Source</button>
        </div>

        <ul class="list-reset">
          <li v-for="(feed, key) in sources" :key="key" class="tag tag--editable cursor-pointer mb-2">
            <span @click="editSource(key)">{{ feed.name }}</span>
            <svg @click="removeSource(key)" class="tag__icon" xmlns="http://www.w3.org/2000/svg"
                 viewBox="0 0 512 512">
              <path
                d="M278.6 256l68.2-68.2c6.2-6.2 6.2-16.4 0-22.6-6.2-6.2-16.4-6.2-22.6 0L256 233.4l-68.2-68.2c-6.2-6.2-16.4-6.2-22.6 0-3.1 3.1-4.7 7.2-4.7 11.3 0 4.1 1.6 8.2 4.7 11.3l68.2 68.2-68.2 68.2c-3.1 3.1-4.7 7.2-4.7 11.3 0 4.1 1.6 8.2 4.7 11.3 6.2 6.2 16.4 6.2 22.6 0l68.2-68.2 68.2 68.2c6.2 6.2 16.4 6.2 22.6 0 6.2-6.2 6.2-16.4 0-22.6L278.6 256z"/>
            </svg>
          </li>
        </ul>
      </div>

      <div class="input-group">
        <label>Feed Privacy</label>

        <div class="flex items-center mb-4">
          <input id="feed-privacy" v-model="privacy" class="mr-2" type="checkbox" :checked="privacy"/>
          <label for="feed-privacy" class="mb-0">Make my feed private</label>
        </div>
      </div>

      <button type="button" @click="updateFeed" class="create-feed button button--primary float-right">Update</button>
    </form>

    <hr>

    <h2>Delete Feed</h2>

    <button type="button" @click="deleteFeed" class="create-feed button button--primary">Delete Feed</button>
  </div>
</template>

<script>
  import axios from 'axios';
  import RSSParser from 'rss-parser';

  export default {
    props: ["feed-data"],

    data() {
      return {
        newSource: {url: '', name: '', error: false},
        sources: [],
        name: {input: '', error: false},
        privacy: false,
        slug: null,
        validating: false
      }
    },

    created() {
      let feedData = JSON.parse(this.feedData);

      feedData.sources.forEach(source => this.sources.push(source));
      this.name = {input: feedData.name, error: false};
      this.slug = feedData.slug;
      this.privacy = feedData.private;
    },

    methods: {
      /**
       * Add Source
       *
       * Validates the source URL is a valid RSS and adds to this.sources
       */
      addSource() {
        this.validating = true;

        this.validateSource()
          .then(() => {
            this.sources.push(this.newSource);
            this.newSource = {url: '', name: '', error: false};
          })
          .catch(error => this.newSource.error = error)
          .then(() => this.validating = false);
      },

      /**
       * Delete Feed
       *
       * Deletes the feed and redirects the user to create new
       */
      deleteFeed() {
        const vm = this;

        axios
          .post(`/f/delete/${vm.slug}`)
          .then((response) => {
            if (response.data.success === true) window.location.href = `/f/new`;
          })
          .catch(error => console.error(error));
      },

      /**
       * Edit Source
       *
       * Edits the source when the user clicks a source tag
       *
       * @param key
       */
      editSource(key) {
        this.newSource = this.sources.splice(key, 1)[0];
      },

      /**
       * Remove Source
       *
       * Removes the source when a user clicks the delete button on a source tag
       *
       * @param index
       */
      removeSource(index) {
        this.sources.splice(index, 1);
      },

      /**
       * Update Feed
       *
       * Submits the updated feed to the server and redirects the user to view the feed
       */
      updateFeed() {
        const vm = this;

        axios.put(`/f/update/${vm.slug}`, {
          name: vm.name.input,
          sources: vm.sources,
          private: vm.privacy,
        })
          .then((response) => window.location.href = `/f/${response.data.slug}`)
          .catch((error) => {
            if (error.response.data.errors) {
              Object.keys(error.response.data.errors).map((validationKey) => {
                const message = error.response.data.errors[validationKey][0];

                if (validationKey.includes('sources')) {
                  const key = validationKey.replace(/\D/g, '');
                  vm.sources[key].error = message;

                } else {
                  vm[validationKey].error = message;
                }
              });
            } else {
              console.error(error);
            }
          });
      },

      /**
       * Validate Source
       *
       * Checks the source is a valid RSS feed
       *
       * @returns {Promise<any>}
       */
      validateSource() {
        return new Promise((resolve, reject) => {
          if (this.sources.find(feed => feed.url === this.newSource.url)) reject('This source has already been added');

          const parser = new RSSParser();

          return parser.parseURL(CORS_PROXY + this.newSource.url + '?format=xml')
            .then(feed => {
              this.newSource.name = feed.title;
              resolve();
            })
            .catch(error => {
              console.error(error);
              reject('There was an error with the URL provided');
            });
        });
      }
    }
  }
</script>
