<template>
  <div>
    <div class="border-b pb-8 mb-12">
      <div class="justify-between items-center lg:flex">
        <h1 class="block-text flex items-center justify-between mb-8 lg:mb-0">
          <mark>{{ feedMeta.title }}</mark>
        </h1>

        <div class="flex-no-shrink">
          <a @click="revealInfo = !revealInfo" class="cursor-pointer">Info</a>
          <span v-if="auth" class="mx-4 text-grey-light">|</span>
          <a v-if="auth" :href="`/f/edit/${feedMeta.slug}`" class="cursor-pointer">Edit</a>
          <span class="mx-4 text-grey-light">|</span>
          <a @click="getSources" class="cursor-pointer">Refresh</a>
        </div>
      </div>

      <div v-if="revealInfo" class="font-serif mt-8 lg:flex">
        <div class="lg:pr-8">
          <h3>Visibility: {{ feedMeta.private ? 'Private' : 'Public' }}</h3>

          <h3>Views: {{ feedMeta.count }}</h3>

          <h3>Created: {{ feedMeta.created.toFormat('ff') }}</h3>
        </div>

        <div class="lg:pl-8">
          <h3>Sources:</h3>
          <p v-for="(source, key) in feedMeta.sources" :key="key" class="font-sans mb-2">
            <mark>{{ source.name }}</mark>
          </p>
        </div>
      </div>
    </div>

    <h2 v-if="loading" class="text-center">Loading feed...</h2>

    <div v-else>
      <feed-article v-for="(article, key) in articles" :key="key" :article="article"></feed-article>
    </div>
  </div>
</template>

<script>
  import {DateTime} from 'luxon';
  import RSSParser from 'rss-parser';
  import FeedArticle from './FeedArticle';

  export default {
    components: {
      FeedArticle
    },

    props: [
      'auth',
      'feedData',
      'limit'
    ],

    data() {
      return {
        feedMeta: null,
        revealInfo: false,
        articles: [],
        loading: true,
      }
    },

    created() {
      this.feedMeta = JSON.parse(this.feedData);

      this.feedMeta.created = DateTime.fromSQL(this.feedMeta.created);
      this.feedMeta.updated = DateTime.fromSQL(this.feedMeta.updated);

      this.getSources();
    },

    methods: {
      /**
       * Gets articles from the feeds
       */
      getSources() {
        const vm = this;
        vm.loading = true;
        vm.sources = [];

        vm.parseSources()
          .then(() => {
            vm.articles.sort(function (a, b) {
              return new Date(b.isoDate) - new Date(a.isoDate);
            });

            if (vm.limit) vm.articles = vm.articles.splice(0, vm.limit);

            vm.loading = false
          })
          .catch(error => console.error(error));
      },

      /**
       * Parses user (rss) feed articles
       *
       * @returns {promise}
       */
      parseSources(url) {
        const vm = this;
        const parser = new RSSParser();
        let promises = [];

        vm.feedMeta.sources.forEach(({url}) => {
          promises.push(
            parser.parseURL(CORS_PROXY + url + '?format=xml')
              .then(source => {
                source.items.forEach((article) => {
                  article.source = {
                    name: source.title
                  };

                  vm.articles.push(article);
                });

                return true;
              })
              .catch(error => error)
          )
        });

        return new Promise((resolve, reject) => {
          Promise.all(promises)
            .then(() => resolve())
            .catch(error => reject(error));
        });
      }
    }
  }
</script>
