<template>
    <article class="feed-article border-b mb-10 pb-10 relative">
        <header class="mb-6">
            <h2 class="mb-3">{{ article.title }}</h2>

            <div>
                <span>{{ article.source.name }}</span>
                <span class="mx-2">|</span>
                <time>{{ date }}</time>
            </div>
        </header>

        <p class="mb-0" v-html="content">{{ content }}</p>
        <a :href="article.link" target="_blank" class="absolute pin"></a>
    </article>
</template>

<script>
    import { DateTime } from 'luxon';
    import striptags from 'striptags';

    export default {
        props: ['article'],

        computed: {
            content() {
                return striptags(this.article.content);
            },

            date() {
                if (this.article.isoDate) {
                    return DateTime.fromISO(this.article.isoDate).toFormat('ff');
                }

                return DateTime.fromISO(this.article.pubDate).toFormat('ff');
            }
        }
    }
</script>
